extends layout

block content

  .container
    h1 Welcome #{usern}
    h2 Please register here
    p= dt
    form
        .mb-3
            label.form-label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
            #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .mb-3
            label.form-label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password')
        .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Check me out
        button.btn.btn-primary(type='submit') Submit

    img(src=imgpath width='200' alt='My image')
    p#p1

    table(style='border-width:1px; border-color:red; border-style:solid; padding:5px')
        each user in users 
            tr
                td(style="padding:5px")= user[0]
                td(style="padding:5px")= user[1]